clientid=""
clientsecret=""
token=""

presence_status="online"
presence_activity_type=""
presence_activity_name=""
#editar com o link do docs do discord sobre presença

reddit=Exemplo,Exemplo2
#sem o r/ apenas o nome.